<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		android:versionCode="20001"
		android:versionName="2.00 RC1"
		package="carnero.cgeo"
		name="c:geo"
		android:installLocation="auto" >
	<uses-sdk android:minSdkVersion="3" android:targetSdkVersion="8" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.READ_CALENDAR"/>
	<uses-permission android:name="android.permission.WRITE_CALENDAR"/>
	<supports-screens
		android:largeScreens="true"
		android:normalScreens="true"
		android:smallScreens="true"
		android:anyDensity="true" />
	<application
			android:name=".cgeoapplication"
			android:theme="@style/cgeo"
			android:label="@string/app_name"
			android:icon="@drawable/cgeo" >
		<uses-library android:name="com.google.android.maps" />
		<activity
			android:name=".cgeo"
			android:label="@string/app_name"
			android:windowSoftInputMode="stateHidden"
			android:theme="@android:style/Theme.Wallpaper.NoTitleBar"
			android:configChanges="keyboardHidden|orientation" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".cgeoadvsearch"
			android:label="@string/app_name"
			android:windowSoftInputMode="stateHidden"
			android:configChanges="keyboardHidden|orientation" >
			<intent-filter>
				<action android:name="carnero.cgeo.CGEOADVSEARCH"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".cgeopopup"
			android:label="@string/app_name"
			android:windowSoftInputMode="stateHidden"
			android:configChanges="keyboardHidden|orientation" >
			<intent-filter>
				<action android:name="carnero.cgeo.CGEOPOPUP"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".cgeoabout"
			android:label="@string/app_name"
			android:windowSoftInputMode="stateHidden"
			android:configChanges="keyboardHidden|orientation" >
			<intent-filter>
				<action android:name="carnero.cgeo.CGEOABOUT"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".cgeoauth"
			android:label="@string/app_name"
			android:windowSoftInputMode="stateHidden"
			android:configChanges="keyboardHidden|orientation" >
			<intent-filter>
				<action android:name="carnero.cgeo.CGEOAUTH"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".cgeowaypointadd"
			android:label="@string/app_name"
			android:windowSoftInputMode="stateHidden"
			android:configChanges="keyboardHidden|orientation" >
			<intent-filter>
				<action android:name="carnero.cgeo.CGEOWAYPOINTADD"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".cgeowaypoint"
			android:label="@string/app_name"
			android:windowSoftInputMode="stateHidden"
			android:configChanges="keyboardHidden|orientation" >
			<intent-filter>
				<action android:name="carnero.cgeo.CGEOWAYPOINT"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".cgeopoint"
			android:label="@string/app_name"
			android:windowSoftInputMode="stateHidden"
			android:configChanges="keyboardHidden|orientation" >
			<intent-filter>
				<action android:name="carnero.cgeo.CGEOPOINT"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".cgeoaddresses"
			android:label="@string/app_name"
			android:windowSoftInputMode="stateHidden"
			android:configChanges="keyboardHidden|orientation" >
			<intent-filter>
				<action android:name="carnero.cgeo.CGEOADDRESSES"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".cgeoinit"
			android:label="@string/app_name"
			android:windowSoftInputMode="stateHidden"
			android:configChanges="keyboardHidden|orientation" >
			<intent-filter>
				<action android:name="carnero.cgeo.CGEOINIT"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".cgeocaches"
			android:label="@string/app_name"
			android:configChanges="keyboardHidden|orientation" >
			<intent-filter>
				<action android:name="carnero.cgeo.CGEOCACHES"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".cgeomap"
			android:label="@string/app_name"
			android:configChanges="keyboardHidden|orientation" >
			<intent-filter>
				<action android:name="carnero.cgeo.CGEOMAP"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".cgeologs"
			android:label="@string/app_name"
			android:configChanges="keyboardHidden|orientation" >
			<intent-filter>
				<action android:name="carnero.cgeo.CGEOLOGS"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".cgeovisit"
			android:label="@string/app_name"
			android:configChanges="keyboardHidden|orientation" >
			<intent-filter>
				<action android:name="carnero.cgeo.CGEOVISIT"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".cgeotouch"
			android:label="@string/app_name"
			android:configChanges="keyboardHidden|orientation" >
			<intent-filter>
				<action android:name="carnero.cgeo.CGEOTOUCH"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".cgeospoilers"
			android:label="@string/app_name"
			android:configChanges="keyboardHidden|orientation" >
			<intent-filter>
				<action android:name="carnero.cgeo.CGEOSPOILERS"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".cgeosmaps"
			android:label="@string/app_name"
			android:configChanges="keyboardHidden|orientation" >
			<intent-filter>
				<action android:name="carnero.cgeo.CGEOSMAPS"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".cgeotrackables"
			android:label="@string/app_name"
			android:configChanges="keyboardHidden|orientation" >
			<intent-filter>
				<action android:name="carnero.cgeo.CGEOTRACKABLES"/>
			</intent-filter>
		</activity>
		<activity
				android:name=".cgeodetail"
				android:label="@string/app_name"
				android:configChanges="keyboardHidden|orientation" >
			<intent-filter>
				<action android:name="carnero.cgeo.CGEODETAIL"/>
			</intent-filter>
			<intent-filter>
				<action android:name="wikitudeapi.arcallback" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="http" android:host="coord.info" android:pathPrefix="/GC" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="http" android:host="geocaching.com" android:pathPrefix="/seek/cache_details.aspx" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="http" android:host="www.geocaching.com" android:pathPrefix="/seek/cache_details.aspx" />
			</intent-filter>
		</activity>
		<activity
				android:name=".cgeotrackable"
				android:label="@string/app_name"
				android:configChanges="keyboardHidden|orientation" >
			<intent-filter>
				<action android:name="carnero.cgeo.CGEOTRACKABLE"/>
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="http" android:host="geocaching.com" android:pathPrefix="/track/details.aspx" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="http" android:host="www.geocaching.com" android:pathPrefix="/track/details.aspx" />
			</intent-filter>
		</activity>
		<activity
				android:name=".cgeonavigate"
				android:label="@string/app_name_compass"
				android:screenOrientation="nosensor" >
			<intent-filter>
				<action android:name="carnero.cgeo.CGEONAVIGATE" />
			</intent-filter>
		</activity>
		<activity
			android:name=".cgeogpxes"
			android:label="@string/app_name"
			android:configChanges="keyboardHidden|orientation" >
			<intent-filter>
				<action android:name="carnero.cgeo.CGEOGPXES"/>
			</intent-filter>
		</activity>
	</application>
</manifest>
